<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">    


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Protest+Riot&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div id="navigation"></div>
    <div id="nav">
        <div class="image-container"><a href="#navigation"><img src="WhatsApp_Image_2024-01-20_at_15.21.00_fe213e48-removebg-preview.png" alt="" width="150px"></a></div>
      
      <div class="links-container">
          <a  class="link" href="#organisations"><b>Organisations</b></a>
      
      
          <a class="link" href="#solution_page" ><b>Our Solution</b></a>
      
      
          <a  class="link" href="#" ><b>Payments</b></a>
      
      
          <a class="link" href="#about_us" ><b>About us</b></a>
      </div>
            <div class="center-adjuster">
            </div>
    </div>
</header>
<main>
  
    <div id="background-image">
        <div class="background">
        <img src="pexels-alena-koval-886521.jpg" alt="" width="100%">
        

            <div class="title"><h1>HealingBio</h1></div>
            <div class="slogan"><h4>Healing Generations to come!</h4></div>
            <div class="information"><a href="/contact" target="_blank"><input type="submit"  value="Send Enquiry" class="enquiry"></a></div>
        </div>
    </div> 

    <div class="heading" id="organisations">
        <h1>Organisations</h1>
        <div class="line"><hr></div>
    </div>

    <div class="grid-container container reveal fade-bottom">
        <div class=""></div>
        <div class="grid-item" id="one"> <a href="https://www.lyft.com/" target="_blank"><img src="lyft edited.png" alt="This ia an image" width="170" height="100"></a></div>
      
      
        <div class="grid-item "><a href="https://octopusev.com/ev-hub/the-sustainability-of-electric-cars" target="_blank"><img src="pctopusev.png" alt="" width="170" height="100"></a></div>
      
      
        <div class="grid-item "> <a href="https://about.ups.com/us/en/newsroom/press-releases/innovation-driven/ups-to-enhance-orion-with-continuous-delivery-route-optimization.html" target="_blank"><img src="orion.png" alt="" width="170" height="100"></a></div>  
      
        <div class=""></div>
        <div class=""></div>

        <div class="grid-item " id="two"><a href="https://www.anthropocenemagazine.org/2021/03/footsteps-could-light-up-homes-with-power-generating-wooden-floors/" target="_blank"><img src="anthropocene.png" alt="" width="170" height="100"></a></div>
      
      
        <div class="grid-item " id="four"><a href="https://banofileather.com/" target="_blank"><img src="banofi.png" alt="" width="170" height="100"></a></div>
      
      
        <div class="grid-item" id="three"><a href="https://consciousfashion.co/guides/textile-recycling-companies" target="_blank"><img src="fashion.png" alt="" width="170" height="100"></a></div>  
    
        <div class=""></div>
      </div>


      <div id="solution_page"></div>


      <div class="our_solution">
        <div class="solution">
            <h1>Our Solution</h1>
            <div class="line"><hr></div>
            <p><b> Rapid urbanisation and population growth pose significant challenges to the development of sustainable cities and communities. As urban areas expand, they face a multitude of interconnected issues such as inadequate infrastructure, rising pollution levels, energy consumption, insufficient waste management, and social inequality. These practices are a threat to not only present but future   generations as well.</b></p>
            
      </div>
    <div class="b123">
        <div class="c123"><span><h1 class="gapping">Transportation</h1></span></div>
        <div class="c123"><span><h1 class="gapping" id="center">Solid Waste</h1></span></div>
        <div class="c123"><span><h1 class="gapping">Reuseabiltity</h1></span></div>
    </div>

    <div class="our_solution_cards container reveal fade-bottom">
    
        <div class="img_z"><a href="page1.html"><img src="WhatsApp Image 2024-02-05 at 07.49.26_52d85fcd.jpg" alt=""  ></a></div>

        <div class="img_z"><a href="page1.html"><img src="pexels-leonid-danilov-2768961 (1).jpg" alt=""></a></div>
          
        <div class="img_z"><a href="page1.html" ><img src="pexels-ready-made-3850512.jpg" alt="" ></a></div>
    </div>

        <div class="d123">
            <div class="card">
                <span class="caption"><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, exercitationem.</b></span>
            </div>
    
            <div class="card"> 
                <span class="caption"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, maxime? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, exercitationem!</b></span>
            </div>
    
            <div class="card">
                <span class="caption"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, in?</b></span>
            </div>
        </div>
    
      <footer>

    <div class="details" id="about_us">
            <div class="aboutus">
                <h1>About Us</h1>
                <p>We are healing bio, we offer a one stop solution for achieving a sustainable planet. Through our platform, we raise awareness about pressing environmental issues and provide resources, tips, and guides for users to reduce their carbon footprint and adopt eco-friendly strategies in their daily lives. We believe that sustainability is not just a practice but a lifestyle that will help us in healing generations to come.</p>
            </div>
        <div class="right_card">

            <h2>Contact Us</h2>
                <div class="contact-info">
                    <p><strong>Email:</strong> healingbioinfo@gmail.com</p>
                    <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                    <p><strong>Address:</strong> Medicaps university (Indore)</p>
                </div>
    
            <div class="social-icons">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            
            </div>
    
            <!-- Additional content ideas -->
            <!-- <h2>Our Team</h2>
            <p>Meet the dedicated individuals behind [your business name]. Lorem ipsum dolor sit amet, consectetur  adipiscing elit.</p> -->
        </div>
    </div>     
    </footer>
    <div class="footer_image">
        <h1>HealingBio</h1>
    </div>  
    <div class="footer_text">
        <p>	&copy;HealingBio | Privacy Policy</p>
    </div>
    <script>
        function reveal() {
    var reveals = document.querySelectorAll(".reveal");
  
    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 150;
  
      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }
  
  window.addEventListener("scroll", reveal);
    </script>
</main>
</body>
</html>